.admin-navbar {
  position: fixed;
  display: flex;
  z-index: 1;
  width: 100%;
  align-items: center;
  padding-left: 20px !important;
  .logo {
    color: white;
    margin-right: 15px;
    font-size: 1.5rem;
  }

  .blank {
    flex: 1;
  }

  .login-info-btn {
    padding-right: 20px;
    font-size: 1.5rem;
    color: white;
  }
}
