#admin-login {
  height: 100%;
  .admin-login__main {
    display: flex;
    align-items: center;
    justify-content: center;

    .form-content {
      background: rgb(255, 255, 255);
      padding: 24px;
      min-height: 320px;
      width: 600px;
      border: 1px solid #cccc;
      border-radius: 15px;
      padding-top: 50px;
    }
  }
}
