#infoRow {
  background-color: rgb(53, 107, 156);
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

  .info-img {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      max-width: 500px;
      margin: 10px;
      box-shadow: 0 0 10px #2f2f2f;
    }
  }

  .info-space-1,
  .info-space-2 {
    flex-basis: 5%;
  }

  .info-text {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .title {
      color: white;
      text-align: left;
      padding-bottom: 20px;
    }

    .description {
      color: white;
      line-height: 30px;
      text-indent: 2em;
    }
  }
}

@media (max-width: 500px) {
  #infoRow {
    flex-direction: column;

    .info-img {
      padding: 10px;
    }

    .info-space-2 {
      flex-basis: 5%;
    }

    .info-text {
      .title {
        color: white;
        text-align: center;
        padding: 0 10px;
        padding-bottom: 20px;
      }

      .description {
        color: white;
        line-height: 30px;
        text-indent: 2em;
      }
    }
  }
}
