.myPdf {
  border: none;
  max-width: 100%;
}

.myPdf embed {
  width: 100%;
  border: none;
}

.myPdf .myPdf-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.myPdf .myPdf-gallery .gallery-img {
  width: 90px;
  height: 90px;
  margin: 10px;
  margin-top: 20px;
}

.myPdf .myPdf-gallery .gallery-img-selected {
  border: 4px solid #337AB7;
}
